header {
    max-width: 81.25rem;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    #logo {
        padding: 15px 0;
        width: 90px;
        &:hover {
            cursor: pointer;
        }
        
        img {
            width: 100%;
        }
    }
    #menu {
        ul {
            margin: 0;
            box-sizing: border-box;
            li {
                box-sizing: border-box;
                display: inline-block;
                padding: 50px 0px;
                margin: 0 15px;
                border: 4px solid #0c7cec transparent;
                input {
                    text-align: end;
                    border: none;
                    border-bottom: solid #0c7cec;
                    max-width: 9.375rem ;
                }
                a{
                    text-decoration: none;
                    color: black;
                    
                }
                &.active {
                    border-bottom: solid 4px #0c7cec;
                }
                &:hover {
                    border-bottom: solid 4px #0c7cec;
                    color: #0c7cec;
                    cursor: pointer;
                }
                &:last-child {
                    border-bottom: none;
                }
            }
        }
    }
    
}